.reality-panel {
  position: fixed;
  top: 60px;
  right: 0;
  width: 250px;
  min-height: 200px;
  color: white;
  z-index: 1000000;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 0;
  font-family: Arial,Helvetica,sans-serif;
  line-height: normal;

  a {
    text-decoration: none;
    color: white;
  }

  .add-address {
    display: none;
  }

  .remove-address {
    display: none;
  }

  .content:hover .add-address, .content:hover .remove-address {
    display: inline;
  }

  .reality-panel-bg {
    border-radius: 0 0 0 5px;
    background-color: #f44336;
    font-size: 18px;
    opacity: 0.9;
    position: relative;
    padding-top: 5px;
  }

  .header {
    position: relative;
    border-radius: 5px 5px 0 0;
    width: 150px;
    transform: rotate(-90deg);
    top: 42px;
    left: -92px;
    background-color: #c2160a;
    color: white;

    h2 {
      font-size: 13px;
      padding: 10px;
      font-weight: bold;
      color: white;
      line-height: normal;
      font-family: Arial,Helvetica,sans-serif;
    }
    text-align: center;
  }

  h3 {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: 0px;
    font-family: Arial,Helvetica,sans-serif;
  }

  .toggle-app-button {
    cursor: pointer;
  }

  input.address-input {
    color: black;
    margin-left: 15px;
    max-width: 130px;
    font-size: 12px;
    padding-left: 5px;
  }

  .content {
    //display: table;
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    padding: 0px;
    text-align: left;

    .row {
      //display: table-row;
      width: 100%;
      columns: 2;
    }

    .row-title {
      width: 100%;
      columns: 1;
    }

    .col {
      min-width: 100px;
      padding-left: 15px;
      padding-right: 10px;
      font-size: 12px;
      width: 50%;
    }

    .text-right {
      text-align: right;
    }
  }

  .footer {
    min-height: 80px;

    .tags {
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 10px;
      display: inline-block;

      .tag {
        border-radius: 5px;
        padding: 5px;
        margin-right: 10px;
        background-color: #aa1409;
        font-size: 10px;
        display: block;
        float: left;
        margin-bottom: 5px;
        cursor: default;
      }
    }
  }
}

.reality-panel-closed {
  right: -250px;
}

.availability-panel {
  //display: table-caption;
}
