.reality-panel {
  position: fixed;
  top: 50px;
  right: 0;
  width: 350px;
  min-height: 200px;
  color: white;
  z-index: 1000000;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 0;

  a {
    text-decoration: none;
    color: white;
  }

  .reality-panel-bg {
    border-radius: 5px 0 0 5px;
    background-color: #f44336;
    padding: 20px 0;
    font-size: 18px;
    opacity: 0.9;
    position: relative;
  }

  .header {
    position: relative;
    border-radius: 5px 5px 0 0;
    width: 150px;
    transform: rotate(-90deg);
    top: 50px;
    left: -90px;
    background-color: #f44336;
    h3 {
      font-size: 13px;
    }
  }

  h3 {
    padding: 10px;
  }

  .content {
    display: table;

    .row {
      display: table-row;
      width: 100%;
    }

    .col {
      display: table-cell;
      min-width: 100px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .text-right {
      text-align: right;
    }

    .tags {
      padding-top: 10px;

      .tag {
        border-radius: 5px;
        padding: 5px;
        margin-right: 10px;
        background-color: #aa1409;
        font-size: 10px;
      }
    }
  }
}

.reality-panel-closed {
  right: -350px;
}
