{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "indent": [ "warn", 2,
      { "SwitchCase": 1 }
    ],
    "key-spacing": "error",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-unused-vars": ["warn", { "vars": "all", "args": "none" }],
    "no-console": ["off"],
    "no-var": "error",
    "prefer-const": "error",
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "globals": {
    "$": false,
    "chrome": false,
    "global": true,
    "RR": true,
    "Vue": false,
    "VueI18n": false
  }
}
