<!-- Reality App Panel -->
<div id="reality-panel-root"></div>

<!-- Google Analytics from Real Reality Chrome Extension -->
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

  ga('create', 'UA-85464417-1', 'auto', 'rr');
  ga('rr.send', 'pageview');
</script>
<!-- End Google Analytics -->
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script>
  window.onerror = function(errorMsg, url, lineNumber) {
    ga('rr.send', 'exception', {
     'exDescription': 'Line Number: ' + lineNumber + ' URL: ' + url + ' Error: ' + errorMsg,
     'exFatal': true
   });
  }
</script>
