
<div id="reality-panel" class="reality-panel yui3-normalized">
  <div class="reality-panel-bg">
    <div class="header">
      <h2 class="button toggle-app-button" v-on:click="toggleWidget"><span class="icon" aria-hidden="true"></span> Real Reality</h2>
    </div>
    <div class="content">

      <!-- let me explain little bit of vue syntax here:
           label/type.. - static props
           :pois - : is shorthard for v-bind:pois which is for dynamic binding to props (we are binding model data)
           @poi-added - @ is shorthand for v-on:poi-added which is for binding to named events
           is - is means that div is component named "availibility-component" -
                when you use just <availibility-component> it won't work because as we use DOM as a source of template
                all unknown elements are stripped (ignored) by browser
      -->
      <div is="availibility-component"
           :label="$t('publicTransit.header')"
           type="transit"
           :address-from="address"
           :pois="pois"
           @poi-added="addPoi"
           @poi-removed="removePoi" />

     <div is="availibility-component"
          :label="$t('car.header')"
          type="driving"
          :address-from="address"
          :pois="pois"
          @poi-added="addPoi"
          @poi-removed="removePoi" />

      <div class="row-title">
        <h3>{{$t('noise.header')}}</h3>
      </div>
      <div class="row">
        <div class="col">
          <i class="fa fa-sun-o" aria-hidden="true"></i> {{ noiseLevel.day }}
        </div>
        <div class="col text-right">
          <i class="fa fa-moon-o" aria-hidden="true"></i> {{ noiseLevel.night }}
        </div>
      </div>


      <div class="row-title">
        <h3>{{$t('pollution.header')}}</h3>
      </div>
      <div class="row">
        <div class="col">
          {{$t('pollution.subheader')}}
        </div>
        <div class="col text-right">
          {{ airQuality }}
        </div>
      </div>

      <div class="row-title">
        <h3>{{$t('propertyDetails.header')}}</h3>
      </div>
      <div class="row">
        <div class="col">
          {{$t('propertyDetails.pricePerSqM')}}
        </div>
        <div class="col text-right">
          {{ details.price.perSquareMeter }}
        </div>
      </div>
    </div>


    <div class="footer">
      <div v-html="tags" class="tags">

      </div>

      <div class="contact-us">
        <a href="https://www.facebook.com/realrealityapp/">
          {{ $t('contactUs') }}
          <i class="fa fa-comments" aria-hidden="true"></i>
        </a>

      </div>
    </div>

  </div>
</div>

<script id="availability-component" type="text/x-template">
  <div class="availability-panel">
    <div class="row-title">
      <h3>
         {{ label }} <i v-on:click="showInputBox" class="button add-address fa fa-plus-circle" aria-hidden="true" title="Add new address"></i>
      </h3>
    </div>
    <div class="row" v-for="(poi, index) in enrichedPois">
      <div class="col" :title="poi.address.interpreted">
        {{ poi.address.interpreted | street-name }} <!-- TODO: component is coupled with global "street-name" filter ... not good -->
      </div>
      <div class="col text-right">
        {{ poi.duration }}
        <i v-on:click="removePoi(poi, index)" class="button remove-address fa fa-minus-circle" aria-hidden="true" title="Remove address"></i>
      </div>
    </div>
    <div class="row-title" v-if="showInput">
      <input class="address-input"
             v-focus
             placeholder="Address"
             v-model.lazy="newPoiAddress"
             data-comment=".stop below means stop propagation when keyup, keydown..etc. - because otherwise it could interfere with rest of the page"
             v-on:keyup.stop="" v-on:keydown.stop="" v-on:keypress.stop=""
             v-on:keyup.enter.stop="addPoi"
             v-on:keyup.esc.stop="cancelInputBox" /> <!-- keyup.esc doesn't work TODO: solve it, meanwhile we have special close button next to input box -->
      <i v-on:click="cancelInputBox" class="button close-input-button fa fa-times-circle" aria-hidden="true" title="Close POI input box"></i>
    </div>
  </div>
</script>

<!-- Google Analytics from Real Reality Chrome Extension -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;

    ga('create', 'UA-85464417-1', 'auto', 'rr');
    ga('rr.send', 'pageview');
  </script>
<!-- End Google Analytics -->
<script async src='https://www.google-analytics.com/analytics.js'></script>
<script>
  window.onerror = function(errorMsg, url, lineNumber) {
    ga('rr.send', 'exception', {
     'exDescription': 'Line Number: ' + lineNumber + ' URL: ' + url + ' Error: ' + errorMsg,
     'exFatal': true
   });
  }
</script>
